# data folder
data/*
*.mat

# Ignoring files from python
*.py[cod]

# Ignoring big data files from relationshipModeling
relationshipModeling/myTupleExtractor/SimpleSentences/
relationshipModeling/myTupleExtractor/data/


