# data folder
data/*
*.mat
*.bin

# Models folder
models/*

# Ignoring files from python
*.py[cod]

# Ignoring big data files from relationshipModeling
relationshipModeling/myTupleExtractor/SimpleSentences/
relationshipModeling/myTupleExtractor/data/

# Ignoring dumps in the code folder
code/src/dumps/*


