# data folder
data/*
*.mat
*.bin
*.o
out*
err*
*.txt
*.pickle

# Models folder
models/*
word2vecVisual/modelsNdata/*
word2vecVisual/test/*
libs/wordvec_image/
word2vecVisual/data/*

# Ignore the vp-fitb code
word2vecVisual/vp-fitb/

# Ignoring files from python
*.py[cod]
# Ignoring the swig folder
libs/swig-3.0.7/
libs/vgg-19-feature-extractor
libs/relationshipModeling/*
libs/sofia-ml-read-only/demo
# Ignoring the compiled binaries
word2vecVisual/bin

# Ignoring big data files from relationshipModeling
libs/relationshipModeling/myTupleExtractor/SimpleSentences/
libs/relationshipModeling/myTupleExtractor/data/

# Ignoring Occurances
# Ignoring dumps in the code folder
code/src/dumps/*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
